.form-row {
  padding: 25px;
}

body {
    background-color: #5175a8;
}

.input-label {
  font-size: 12px;
}

.custom-select{
    background: #ffffff !important;
}

.form-row {
    padding: 0 25px 0;

}

.btn-lg {
    background-color: #e33d26;
    color: #ffffff;
    border: none;

    border-radius: 0;
}

table {
  margin: auto;
}


select.form-control {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.scroll {

    width: 300px;
    overflow: auto;
    white-space: nowrap;
}


table,th,td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
}



#data {
    margin-bottom: 10px;
}



